<?xml version="1.0" ?>
<settings version="1">
	<section id="plugin.video.telerising-cloudcontrol">

		<category help="" id="global settings" label="32100">
			<group id="1" label="32110">
				<setting help="" id="quality" label="32111" type="string">
					<level>0</level>
					<default>1080p50</default>
					<constraints>
						<options>
							<option label="32160">432p25</option>
							<option label="32161">576p50</option>
							<option label="32162">720p25</option>
							<option label="32163">720p50</option>
							<option label="32164">1080p25</option>
							<option label="32165">1080p50</option>
						</options>
					</constraints>
					<control format="string" type="spinner">
						<heading>32111</heading>
					</control>
				</setting>
				<setting help="" id="audio_profile" label="32112" type="string">
					<level>0</level>
					<default>2</default>
					<constraints>
						<options>
							<option label="32170">1</option>
							<option label="32171">2</option>
							<option label="32172">3</option>
							<option label="32173">4</option>
						</options>
					</constraints>
					<control format="string" type="spinner">
						<heading>32112</heading>
					</control>
				</setting>
			</group>
			<group id="2" label="32113">
				<setting help="" id="storage_path" label="32114" type="path">
					<level>0</level>
					<default>choose</default>
					<constraints>
						<writable>false</writable>
					</constraints>
					<control format="path" type="button">
						<heading>32114</heading>
					</control>
				</setting>
			</group>
			<group id="3" label="32115">
				<setting help="" id="enable_moviedetails" label="32116" type="boolean">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
		</category>

		<category help="" id="cloud settings" label="32101">
			<group id="1" label="32120">
				<setting help="" id="enable_cloud" label="32121" type="boolean">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting help="" id="recording_address" label="32122" type="string">
					<level>0</level>
					<default>0.0.0.0</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="enable_cloud">true</condition>
						</dependency>
					</dependencies>
					<control format="string" type="edit">
						<heading>32122</heading>
					</control>
				</setting>
				<setting help="" id="connection_type_cloud" label="32123" type="boolean">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="enable_cloud">true</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting help="" id="recording_port" label="32124" type="string">
					<level>0</level>
					<default>8080</default>
					<dependencies>
						<dependency type="visible">
							<and>
								<condition operator="is" setting="enable_cloud">true</condition>
								<condition operator="is" setting="connection_type_cloud">false</condition>
							</and>
						</dependency>
					</dependencies>
					<control format="string" type="edit">
						<heading>32124</heading>
					</control>
				</setting>
				<setting help="" id="enable_protection_pin_cloud" label="32125" type="boolean">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="enable_cloud">true</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting help="" id="protection_pin_cloud" label="32126" type="string">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<and>
								<condition operator="is" setting="enable_cloud">true</condition>
								<condition operator="is" setting="enable_protection_pin_cloud">true</condition>
							</and>
						</dependency>
					</dependencies>
					<control format="string" type="edit">
						<heading>32126</heading>
						<hidden>true</hidden>
					</control>
				</setting>
			</group>
			<group id="2" label="32127">
				<setting help="" id="showtime_in_title" label="32128" type="boolean">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="!is" setting="enable_cloud">false</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
			</group>
		</category>

		<category help="" id="vod settings" label="32102">
			<group id="1" label="32130">
				<setting help="" id="enable_vod" label="32131" type="boolean">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting help="" id="vod_address" label="32122" type="string">
					<level>0</level>
					<default>0.0.0.0</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="enable_vod">true</condition>
						</dependency>
					</dependencies>
					<control format="string" type="edit">
						<heading>32122</heading>
					</control>
				</setting>
				<setting help="" id="connection_type_vod" label="32123" type="boolean">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="enable_vod">true</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting help="" id="vod_port" label="32124" type="string">
					<level>0</level>
					<default>8080</default>
					<dependencies>
						<dependency type="visible">
							<and>
								<condition operator="is" setting="enable_vod">true</condition>
								<condition operator="is" setting="connection_type_vod">false</condition>
							</and>
						</dependency>
					</dependencies>
					<control format="string" type="edit">
						<heading>32124</heading>
					</control>
				</setting>
				<setting help="" id="enable_protection_pin_vod" label="32125" type="boolean">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="enable_vod">true</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting help="" id="protection_pin_vod" label="32126" type="string">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<and>
								<condition operator="is" setting="enable_vod">true</condition>
								<condition operator="is" setting="enable_protection_pin_vod">true</condition>
							</and>
						</dependency>
					</dependencies>
					<control format="string" type="edit">
						<heading>32126</heading>
						<hidden>true</hidden>
					</control>
				</setting>
			</group>
		</category>

		<category help="" id="environment" label="32103">
			<group id="1" label="32140">
				<setting help="" id="install_environment" label="32141" type="action">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.telerising-cloudcontrol/?action=check)</data>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control format="action" type="button">
						<close>true</close>
					</control>
				</setting>
			</group>
		</category>

		<category help="" id="miscellaneous" label="32104">
			<group id="1" label="32150">
				<setting help="" id="clean_tempfolder" label="32151" type="action">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.telerising-cloudcontrol/?action=clean)</data>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control format="action" type="button">
						<close>true</close>
					</control>
				</setting>
				<setting help="" id="clean_processes" label="32152" type="action">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.telerising-cloudcontrol/?action=kill_ffmpeg)</data>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control format="action" type="button">
						<close>true</close>
					</control>
				</setting>
			</group>
		</category>
	</section>
</settings>
