<settings>
    <category label="Telerising Server Settings">
        <setting label="Serversettings" type="lsep"/> <!-- Downloadfolder -->
        <setting id="connection_type" type="bool" label="Connection Type ON=https:// OFF=http://" default="false"/><!-- Connection-Type -->
        <setting id="address" type="text" label="Hostname / IP Address" default="0.0.0.0"/>
        <setting id="port" type="text" label="Port" default="8080" />
        <setting type="sep"/>
        <setting label="Video Settings" type="lsep"/> <!-- Video Settings -->
        <setting id="quality" type="select" label="Quality" default="1080p50" values="432p25|576p50|720p25|720p50|1080p25|1080p50"/>
        <setting id="audio_profile" type="select" label="Audio Profile" default="1" values="1|2|3"/>
        <setting type="sep"/>
        <setting label="Download and Move" type="lsep"/> <!-- Downloadfolder -->
        <setting id="storage_path" type="folder" label="Storage Path" default="choose"/>
        <setting type="sep"/>
        <setting label="Install Environment Tools" type="lsep"/> <!-- Check and Install -->
        <setting type="action" label="Install FFMPEG/FFProbe Tools"
                 option="close" action="RunPlugin(plugin://plugin.video.telerising-cloudcontrol/?action=check)"/>

    </category>
</settings>
